html{
    background-color: white;
    text-align: center;
}

input.flex{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    
    width: 100%;
}

div.sec{
    /*background-color: white;*/

    flex-basis: 100%;

    border-right: 1px solid black;
    padding-left: 10px;
}
#selection{
    height: 25px;
    text-align: center;
}

.end{
    border-right: 0px solid black;
}


.block{
    display: flex;
    justify-content: left;

    background-color: rgb(53, 54, 58);
    color: black;

    border-width: 2px;
    border-style: inset; 

    height: 100px;
    width: 100%;

    margin: 5px;


}

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    border-radius: 5px;
    z-index: 10;
    background-color: white;
}

.popup.active{
    transform: translate(-50%, -50%) scale(1);
}

.pop-header{
    padding: 0px 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid black;
}
.popup-pad{
    padding: 0px 14px 0px 0px;
}

.close{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;

}

#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0,0,0,.5);

    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}
